$color-yellow: #ffe300;
$color-black: #000;
$color-white: #fff;

$font-family-primary: 'Nunito', sans-serif;

body {
  font-family: $font-family-primary;
}

.works-list {
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: flex-start;
}

.review-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 520px;
  height: 505px;
  padding: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  
  &._ocean {
    background-image: url('../img/works-ocean.png');
  }

  &__tag {
    width: 80px;
    height: 24px;
    padding: 0;
    margin-bottom: 16px;
    font-size: 12px;
    font-weight: 800;
    line-height: 22px;
    text-align: center;
    text-decoration: none;
    color: $color-black;
    background-color: $color-yellow;
    border-radius: 14px;
    border: 1px solid $color-yellow;
    transition:
      background-color 0.2s linear,
      border-color 0.2s linear;
    &:hover {
      background-color: $color-black;
      color: $color-yellow;
    }
  }

  &__title {
    color: $color-white;
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
  }
}