@media only screen and (max-width: 480px) {

  .header {
    padding: 0px;
    height: 140px;
    transition:
      height 200ms ease-in;
  }

  .header._header-min {
    height: 100px;
  }

  .container {
    padding-left: 10px;
    padding-right: 10px;
  }

  ._bg-white {
    background-color: #ffffff;
  }

  .header-mobile__btn-div {
    visibility: visible;
    opacity: 1;
    display: flex;
    align-items: center;
  }

  ._fixed {
    position: fixed;
  }

  .header-mobile__btn-open {
    width: 48px;
    height: 48px;
    padding: 0;
    background: none;
    border: none;
    position: absolute;
    top: 45%;
    left: 4%;
    transition: top 200ms ease-in;
  }

  .header-mobile__btn-open::before {
    content: "";
    position: absolute;
    top: 20px;
    left: 15px;
    width: 20px;
    height: 2px;
    background-color: #007fff;
  }

  .header-mobile__btn-open::after {
    content: "";
    position: absolute;
    top: 29px;
    left: 15px;
    width: 20px;
    height: 2px;
    background-color: #007fff;
  }

  .header-mobile__btn-open._button-min {
    top: 20%;
  }

  .header-mobile-avatar {
    position: absolute;
    left: 42%;
    top: 44%;
    transition: top 200ms ease-in;
  }

  .header-mobile-avatar._avatar-min {
    top: 22%;
  }

  .header-list {
    visibility: hidden;
    opacity: 0;
  }

  .hello {
    padding-top: 50px;
  }

  .hello__title {
    width: 89%;
    margin-left: 15px;
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.5px;
    text-align: center;
    margin-top: 125px;
  }

  .hello-list {
    padding-top: 29px;
    margin-left: -5px
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .works {
    padding-top: 72px;
  }

  .works-list {
    align-items: flex-start;
    justify-content: center;
    margin-left: 5%;
    width: 89%;
    padding: 0;
  }

  .works-item {
    margin-top: 30px;
    padding: 30px;
  }

  .works-item__button {
    line-height: 21px;
    margin-bottom: 10px;
  }

  .works-item__title {
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.5px;
  }

  .works-item._ocean {
    background-image: url('../img/works-ocean-mobile.png');
    height: 306px;
  }

  ._title-ocean {
    width: 75%;
  }

  .works-item._mountains {
    background-image: url('../img/works-mountains-mobile.png');
    height: 446px;
  }

  ._title-mountains {
    width: 80%;
  }

  .works-item._doors {
    background-image: url('../img/works-doors-mobile.png');
    height: 404px;
    margin-top: 30px;
  }

  .works-item._building {
    background-image: url('../img/works-building-mobile.png');
    height: 264px;
    margin-top: 30px;
  }

  ._title-building {
    width: 83%;
  }

  .about {
    margin-top: 76px;
    margin-left: 10px;
  }

  .about-list {
    justify-content: center;
    padding: 0 0 0 0;
  }

  .about-item {
    width: 78%;
    margin-top: 29px;
  }

  .about-item__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
  }

  .about-item__content {
    margin-top: 10px;
  }

  ._hide-button {
    display: none;
    visibility: hidden;
    width: 0;
    height: 0;
    padding: 0;
  }

  ._hide-text {
    display: none;
  }

  ._visible-text {
    display: inline;
  }

  .about-item__see-more {
    display: inline;
    font-family: Nunito;
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
    text-align: left;
    margin: 0px;
    color: #007fff;
    border: none;
    background: none;
  }

  .about__sub-tittle {
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
  }

  .about__content {
    margin-top: 20px;
  }

  .gad {
    margin-top: 28px;
    margin-left: 20px;
  }

  .gad-list {
    justify-content: space-between;
    width: 94%;
    margin-left: 0;
  }

  .gad-item {
    width: 30%;
  }

  .img-google,
  .img-airbnb,
  .img-dropbox {
    width: 0%;
    height: 0%;
    max-width: 0px;
    visibility: hidden;
  }

  .img-google-mobile,
  .img-airbnb-mobile,
  .img-dropbox-mobile {
    height: 26px;
    width: 100%;
    visibility: visible;
  }

  .img-google-mobile {
    max-width: 77px;
  }

  .img-airbnb-mobile {
    max-width: 83px;
  }

  .img-dropbox-mobile {
    max-width: 26px;
    float: right;
  }

  ._item-airbnb {
    margin-left: 41px;
  }

  .links {
    margin-top: 93px;
  }

  .links-wrapper {
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -4px;
  }

  .links-list {
    width: 87%;
    padding: 0;
  }

  .links-item {
    margin-top: 10px;
  }

  .links-item__content {
    line-height: 30px;
  }

  ._year-mobile {
    visibility: visible;
  }

  ._year-desktop {
    visibility: hidden;
  }

  .contacts {
    margin-top: 120px;
  }

  .contacts__content {
    margin-top: 11px;
    letter-spacing: 0.1px;
  }

  ._br-hidden {
    display: none;
  }

  .row {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .column._width-20proc {
    width: 85%;
    margin-left: 20px;
  }

  .contacts__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
  }

  .contacts-list {
    padding-top: 19px;
  }

  .contacts-item {
    margin-right: 15px;
  }

  ._form-column {
    width: 100%;
  }

  .column._width-75proc {
    width: 94%;
    margin-top: 29px;
    margin-left: 10px;
  }

  .contact-form__label {
    margin-top: 5px;
  }

  ._message {
    height: 114px;
  }

  ._button-mobile {
    margin-top: -2px;
    margin-left: 263px;
  }

  .footer {
    margin-left: 20px;
    margin-top: 56px;
    margin-bottom: 60px;
  }

  .footer__content {
    width: 90%;
    font-size: 12px;
    letter-spacing: 0.1px;
    margin-left: 0px;
  }

  .footer-buttons {
    width: 90%;
    flex-wrap: wrap;
    justify-content: initial;
  }

  .footer-buttons__button {
    width: 100%;
    font-size: 12px;
    margin-top: 10px;
  }

  /* modal window */
  .modal-list {
    display: block;
    padding-left: 40px;
  }

  .modal-item {
    padding-left: 0px;
  }

  .modal-item__link {
    letter-spacing: 6px;
  }


  .modal__btn-div {
    visibility: visible;
    opacity: 1;
  }

  .modal__btn-div._visible {
    visibility: visible;
    opacity: 1;
  }

  .modal__dialog {
    position: relative;
    width: 90%;
    margin: 100px 5% 100px 5%;
  }

  /* modify gray-lines.css */

  .header-table {
    width: 315px;
    left: 48px;
  }

  .table {
    width: 315px;
    height: 3400px;
    left: 48px;
  }

  .table-tr {
    /* z-index: -1; */

  }

  .table-td {
    /* z-index: -1; */
  }

  .table-td._hidden {
    border-left: 0px solid #ffffff;
  }

  .works-works,
  .about-about,
  .links-links {
    transform: rotate(0deg);
  }

  .works-works {
    margin-left: 146px;
    margin-top: -16px;
  }

  .about-about {
    margin-left: 138px;
    margin-top: -16px;
  }

  .links-links {
    margin-left: 151px;
    margin-top: -36px;
  }

  .contacts-line {
    top: 3400px;
  }
}