.modal__btn-div {
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  top: 0;
  background: #ffffff;
  position: fixed;
  z-index: 30;
  transition:
    visibility 200ms ease-in,
    opacity 200ms ease-in;
}

.modal__btn-open {
  width: 160px;
  height: 11px;
  padding: 0;
  background: none;
  border: none;
}

.modal__btn-open:hover {}

.modal__btn-open::before {
  content: "";
  position: absolute;
  top: 35px;
  left: 8%;
  width: 20px;
  height: 2px;
  background-color: #007fff;
}

.modal__btn-open::after {
  content: "";
  position: absolute;
  bottom: 35px;
  left: 8%;
  width: 20px;
  height: 2px;
  background-color: #007fff;
}

._mt {
  margin-top: 10px;
}

.modal {
  visibility: hidden;
  opacity: 0;
  z-index: 999;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  transition:
    visibility 200ms ease-in, opacity 200ms ease-in;
}

.modal._opened {
  visibility: visible;
  opacity: 1;
  overflow-y: hidden;
}

.modal__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.modal__dialog {
  position: relative;
  width: 80%;
  margin: 100px 10% 100px 10%;
}

.modal__content {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  outline: 0;
  font-family: 'nunito';
}

.modal__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 3px solid #eceeef;
  background-color: #fff;
}

.modal-logo {
  user-select: none;
}

.modal-close {
  font-family: sans-serif;
  border: none;
  /* border-radius: 4px; */
  transition:
    background-color .1s ease,
    border-color .3s ease;
  font-size: 30px;
  font-weight: 700;
  line-height: 1;
  color: #007fff;
  opacity: .5;
  background: none;
}

.modal-close:focus,
.modal-close:hover {
  background-color: #008ed6;
  border-color: #008ed6;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  opacity: 1;
  transform: scale(1.05);
}

.modal-main {
  padding: 15px;
  border-bottom: 3px solid #ededed;
}

.modal-item {
  display: block;
  height: 50px;
}

.modal-item__link {
  width: 100%;
  height: 16px;
  color: #007fff;
  font-family: 'nunito';
  font-size: 12px;
  font-weight: 800;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-decoration: none;
}

.modal-footer {
  padding: 15px;
  font-family: 'nunito';

}

.modal-footer-p {
  font-size: 14px;
  color: #979797;
  text-align: center;
  letter-spacing: 2px;
}