$color-blue: #007fff;
$color-yellow: #ffe300;
$color-black: #000000;
$color-white: #ffffff;
$color-gray: #cfcfcf;
$color-gray-dark: #979797;

$font-family-primary: 'Nunito',
sans-serif;

%button-yellow {
  // display: block;
  // position: relative;
  width: 80px;
  height: 24px;
  padding: 0;
  font-size: 12px;
  font-weight: 800;
  line-height: 16px;
  text-align: center;
  text-decoration: none;
  color: $color-black;
  background-color: $color-yellow;
  border-radius: 14px;
  border: 1px solid $color-yellow;
  // font-family: nunito;
  transition:
    background-color 0.2s linear,
    border-color 0.2s linear;
}

%button-yellow-hover {
  background-color: $color-black;
  color: $color-yellow;
}

html {
  scroll-behavior: smooth;
}

.wrapper *,
.wrapper *::before,
.wrapper *::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: $font-family-primary;
  box-sizing: border-box;
}

.header {
  width: 100%;
  padding-top: 100px;

  &-menu {}

  &-mobile__btn-div {
    visibility: hidden;
    opacity: 0;
  }

  &-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-item {
    display: block;

    &__link {
      width: 10%;
      height: 16px;
      color: $color-blue;
      font-size: 12px;
      font-weight: 800;
      line-height: 16px;
      text-transform: uppercase;
      letter-spacing: 3px;
      text-decoration: none;
    }
  }

  &-avatar {
    width: 52px;
    height: 52px
  }
}

._item-avatar {
  width: 50%;
  display: flex;
  justify-content: center;
}

.img-avatar {
  user-select: none;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}


.main {}

// -- 01 --
.hello {
  padding-top: 100px;

  &__title {
    width: 50%;
    margin-left: 25%;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    text-align: center;
  }

  &-list {
    display: flex;
    justify-content: center;
    padding-top: 30px;
  }

  &-item {
    display: block;
    margin: 0px 18px;

    &__link {}
  }
}

._blue {
  color: $color-blue;
}


.img-twitter {}

.img-behance {}

.img-instagram {}

// -- 02 --
.works {
  padding-top: 100px;
}

.works-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  // align-items: baseline;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: flex-start;
}

.works-item {
  // display: block;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 520px;
  padding: 50px;
  background-size: contain;
  background-repeat: no-repeat;

  &._ocean {
    background-image: url('../img/works-ocean.png');
    height: 505px;
  }

  &._mountains {
    background-image: url('../img/works-mountains.png');
    height: 737px;
  }

  &._doors {
    background-image: url('../img/works-doors.png');
    height: 667px;
    margin-top: -170px;
  }

  &._building {
    background-image: url('../img/works-building.png');
    height: 435px;
    margin-top: 60px;
  }

  &__button {
    width: 80px;
    height: 24px;
    padding: 0;
    margin-bottom: 16px;
    font-size: 12px;
    font-weight: 800;
    line-height: 22px;
    text-align: center;
    text-decoration: none;
    color: $color-black;
    background-color: $color-yellow;
    border-radius: 14px;
    border: 1px solid $color-yellow;
    transition: background-color 0.2s linear,
      border-color 0.2s linear;

    &:hover {
      @extend %button-yellow-hover;
    }
  }

  &__title {
    color: $color-white;
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
  }
}

._title-ocean {
  width: 64%;
}
._title-mountains {
  width: 75%;
}
._title-doors {
  width: 80%;
}
._title-building {
  width: 75%;
}

// .works-item._item-ocean {
//   align-self: flex-start;
// }

// .works-item._item-doors {
//   margin-top: -170px;
// }

// .works-img {}

// .works__button {
//   @extend %button-yellow;
//   margin-top: -150px;
//   margin-left: 50px;
// }

.img-ocean-mobile,
.img-mountains-mobile,
.img-doors-mobile,
.img-building-mobile {
  width: 0%;
  max-width: 0px;
  visibility: hidden;
}

// -- 03 --
.about {
  margin-top: 150px;
}

.about-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  // align-items: baseline;
}

.about-item {
  display: block;
  width: 47%;
  margin-top: 50px;
}

.about__sub-tittle {
  font-family: nunito;
  font-size: 28px;
  font-weight: 600;
  line-height: 30px;
}

.about__content {
  font-family: Nunito;
  font-size: 16px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  margin-top: 30px;
}

.gad {
  margin-top: 50px;
}

.gad-list {
  display: flex;
}

.gad-item {
  display: block;
  width: 25%;
}

.gad-picture {}

.img-google {}

.img-airbnb {}

.img-dropbox {}

.img-google-mobile {
  width: 0%;
  max-width: 0px;
  visibility: hidden;
}

.img-airbnb-mobile {
  width: 0%;
  max-width: 0px;
  visibility: hidden;
}

.img-dropbox-mobile {
  width: 0%;
  max-width: 0px;
  visibility: hidden;
}

.links {
  margin-top: 50px;
}

.links-wrapper {
  display: flex;
  justify-content: space-between;
}

.links-list {
  display: block;
  width: 47%;
}

.links-item {
  display: block;
  margin-top: 40px;
}

.links-content {
  display: flex;
  justify-content: space-between;
}

._justify {
  display: block;
  // padding-left: 0;
}

._gray-text {
  color: $color-gray-dark;
}

._year-mobile {
  visibility: hidden;
}

._year-desktop {
  visibility: visible;
}

.contacts {
  margin-top: 50px;
}

.row {
  display: flex;
  justify-content: space-between;
}

._width-25proc {
  width: 20%;
}

.column {}

._width-75proc {
  width: 75%;
  margin-top: 50px;
}

.contacts__sub-tittle {
  font-family: nunito;
  font-size: 28px;
  font-weight: 600;
  line-height: 30px;
}

.contacts__content {
  font-family: nunito;
  font-size: 16px;
  font-weight: 600;
  line-height: 30px;
  margin-top: 50px;
}

.contacts-list {
  display: flex;
  padding-top: 30px;
}

.contacts-item {
  display: block;
  margin: 0px 18px 0px 0px;
}

._form-column {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.contact-form__label {
  display: flex;
  flex-direction: column-reverse;
}

.contact-form__input {
  color: $color-black;
  font-family: nunito;
  font-size: 16px;
  font-weight: 600;
  line-height: 30px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom-color: $color-gray;
}

.contact-form__input::-webkit-input-placeholder {
  color: $color-gray;
}

._message {
  height: 100px;
  border-bottom-width: 3px;
  resize: none;
}

.contact-form__span {
  font-family: nunito;
  font-size: 12px;
  font-weight: 800;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.contact-form__button {
  background: none;
  border: none;
  width: 52px;
  height: 52px;
}

.img-button {
  width: 52px;
  height: 52px;
}

.footer {
  margin-top: 100px;
  margin-bottom: 100px;
}

.footer__content {
  font-family: Nunito;
  font-size: 16px;
  font-weight: 600;
  line-height: 30px;
}

.footer__buttons {
  width: 30%;
  display: flex;
  justify-content: space-between;
}

.footer__button {
  color: $color-gray-dark;
  font-family: Nunito;
  font-size: 16px;
  font-weight: 600;
  line-height: 30px;
  text-decoration: none;
  // text-align: right;
}